* {
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */


.header {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.amazon {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 40px;
}

.delivery span {
    margin-left: 18px;
    font-size: .7rem;
}

.location {
    font-size: 1.1rem;
    font-weight: 550;
}

.searchbar {
    display: flex;
    width: 650px;
    height: 40px;
}

.search {
    background-color: #febd68;
    color: #0f1111;
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border: none;
}

.select {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    text-align: center;
    border: none;
    background-color: #e6e6e6;
}

.bar {
    width: 84%;
    border: none;
    font-size: 1.1rem;
    padding-left: 10px;
}

.countryname {
    height: 40px;
    width: 60px;
    color: white;
    background-color: #0f1111;
    border: none;
    text-align: center;
}

.signin span,
.returns span {
    font-size: .75rem;
}

.signin p,
.returns p {
    font-weight: 700;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartlogo {
    font-size: 1.8rem;
}

.cartname {
    margin-top: 15px;
    font-weight: 700;
}

.navbar,
a {
    height: 39px;
    background-color: #232f3e;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar i {
    font-size: 1.3rem
}

.hero {
    height: 300px;
    background-image: url(hero_image.jpg);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-sec {
    background-color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 225px;
    padding-right: 225px;
    font-size: .95rem;
}

.hero-sec a {
    background-color: transparent;
    padding-left: 5px;
    color: #007185;
}

.boxall {
    background-color: rgb(225, 255, 255);
    height: 1075px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    background-color: white;
    height: 450px;
    width: 325px;
    margin-top: 40px;
    font-size: 25px;
    font-weight: 700;
    padding-left: 24px;
    padding-top: 30px;
    margin-inline: 8px;
}

.box p {
    align-self: start;
    margin-bottom: 7px;
}

.box a {
    background-color: transparent;
    color: #007185;
    font-size: .90rem;
    font-weight: 100;
    padding: 0px;
    width: 65px;
}

.box-img {
    background-size: cover;
    height: 350px;
    width: 300px;
}

.footer1 {
    height: 50px;
    background-color: #232f3e;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: .9rem;
}

.footer2 {
    height: 400px;
    background-color: #131a22;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.footer2-1 p {
    font-weight: 700;
    padding-bottom: 5px;
}

.footer2-1 a {
    background-color: #131a22;
    padding: 0px;
}

.footer3 {
    height: 100px;
    background-color: #0f1111;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
}

.logo2 {
    background-image: url(amazon_logo.png);
    height: 40px;
    width: 100px;
    background-size: cover;
    padding-bottom: 10px;
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid white;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}